
<ul class="list-group"  xmlns:th="http://www.thymeleaf.org">
    <li class="list-group-item" style="background-color:#2c583f; color: white">
        <a  th:text="#{li.Categories}"></a>
    </li>
    <li class="list-group-item" style="color: black">
        <a th:href="@{'/getAll'}" th:text="#{li.all_items}"></a>

    </li>
    <li class="list-group-item" style="color: black" th:each="cat:${categories}">
        <a  th:text="${cat.getName()}" th:href="@{'/searchByCategory/'+${cat.getId()}}"></a>
    </li>
   <!-- <li class="list-group-item"  style="color: black">
        <i class="fas fa-mobile-alt"></i>
        <a th:text="#{li.phones}"></a>

    </li>
    <li class="list-group-item"  style="color: black" >
        <i class="fas fa-tv"></i>
        <a th:text="#{li.Televisions}"></a>

    </li>
    <li class="list-group-item"  style="color: black;" >
        <i class="fab fa-playstation"></i>
        <a th:text="#{li.game}"></a>

    </li>
    <li class="list-group-item"  style="color: black" >
        <i class="fas fa-luggage-cart"></i>
        <a th:text="#{li.other}"></a>

    </li>-->
</ul>

<ul class="list-group"  xmlns:th="http://www.thymeleaf.org" style="margin-top:30px;" >
    <li class="list-group-item" style="background-color:#2c583f; color: white">
        <a  th:text="#{li.brands}"></a>
    </li>
    <li class="list-group-item" style="color: black" th:each="brn:${brands}">
        <a  th:text="${brn.getName()}" th:href="@{'/searchByBrand/'+${brn.getId()}}"></a>
    </li>
    <!--<li class="list-group-item"  style="color: black" >
        <a th:text="#{li.LG}"></a>
    </li>
    <li class="list-group-item"  style="color: black;" >
        <a th:text="#{li.BOSCH}"></a>
    </li>
    <li class="list-group-item"  style="color: black" >
        <a th:text="#{li.zepter}"></a>
    </li>
    <li class="list-group-item"  style="color: black" >
        <a th:text="#{li.xiaomi}"></a>
    </li>
    <li class="list-group-item"  style="color: black" >
        <a th:text="#{li.nokia}"></a>
    </li>
    <li class="list-group-item"  style="color: black" >
        <a th:text="#{li.other}"></a>
    </li>-->
</ul>
