
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/admin.html">
<div layout:fragment = "list" >
    <form  th:action="@{'/saveCountry'}" method="post">
        <div class="modal-body">
            <div class="form-group">
                <label   th:text="#{label.name}"></label>
                <input type="text" name="name" class="form-control" th:value="${country.getName()}">
                <input type="hidden" name="id" th:value="${country.getId()}">
            </div>
            <div class="form-group">
                <label  th:text="#{label.code}" ></label>
                <input type="text" name="code" class="form-control" th:value="${country.getCode()}">
            </div>

        </div>
        <button  class="btn btn-success ml-2" th:text="#{label.save}"></button>
    </form>
    <form  th:action="@{'/deleteCountry'}" method="post">
        <input type="hidden" name="id" class="form-control" th:value="${country.getId()}" >
        <button  style="margin-top: 10px; " class="btn btn-danger ml-2" th:text="#{label.delete}"></button>
    </form>
</div>
</html>